
/*HOME PAGE 2nd section*/
/*FUGURE OUT HOW TO SPLIT THE TEXT AND IMAGE*/

.textImage{
    padding-top: 5%;
    padding-bottom:10%;
 }
 
 #text-left{
     width:40%;
     float: left;
 }
 
 .features-img{
     width:40%;
     float: right;
 }
 
 /*HOME PAGE different pages descriptions - & responsive*/
 
 #pages{
     margin-top: 400px;
     width:100%;
     padding:70px 0;
     border-top: solid 2px #585858;
     
   }
   #pages h3{
     text-align: center;
     padding-bottom: 5%;
   }
   
   .box{
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin:auto;
   }
   .single{
     flex-basis: 22%;
     text-align:center;
     border-radius:6px;
     margin-bottom: 20px;
     color: black;
     position: relative;

   }
   
   .single img{
     width:30%;
     border-radius:6px;
   }
 