
.homepageheader{
  background-image: url(../images/student-laptop-books.jpg);
  background-position: center;
  background-size: cover;
  padding-top:5%;
  padding-bottom:5%;
  padding-left:25%;
  padding-right:25%;
}


/*HOME PAGE 2nd section*/
/*FUGURE OUT HOW TO SPLIT THE TEXT AND IMAGE*/

 
 #textinfo{
     width:60%;
     padding-top:2%;
     padding-bottom:5%;
     margin-left:20%;
    

 }

 
 
 .features-img{
     width:40%;
     float: right;
 }
 
 /*HOME PAGE different pages descriptions - & responsive*/
 
 
   #pages h3{
     text-align: center;
     padding-bottom: 5%;
   }
   
   .box{
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin:auto;
   }
   .single{
     flex-basis: 22%;
     text-align:center;
     border-radius:6px;
     margin-bottom: 20px;
     color: black;
     position: relative;

   }
   
   .single img{
     width:30%;
     border-radius:6px;
   }
 

#greydiv{
    padding:.4%;
    background-color: gainsboro;
}

