/*GENERAL*/

.app-container {
    background-color: rgb(255, 255, 255);

}

.page-container {
    margin: 4em;
    &#home {
        text-align: left;
    }
}
section{
    padding-left:15%;
    padding-right:15%;
}

header{
    background-image: url(../images/student-laptop-books.jpg);
    background-position: center;
    background-size: cover;
    padding-top:5%;
    padding-bottom:5%;
    padding-left:25%;
    padding-right:25%;
}


.text-box{
background-color: gainsboro;
  border-radius:10px ;
  border: solid 2px white;
  padding: 4%;
  
}

/*HOME PAGE 2nd section*/
/*FUGURE OUT HOW TO SPLIT THE TEXT AND IMAGE*/

.textImage{
   padding-top: 5%;
   padding-bottom:10%;
}

#text-left{
    width:40%;
    float: left;
}

.features-img{
    width:40%;
    float: right;
}

/*HOME PAGE different pages descriptions - & responsive*/

#pages{
    margin-top: 400px;
    width:100%;
    padding:70px 0;
    border-top: solid 2px #585858;
    
  }
  #pages h3{
    text-align: center;
    padding-bottom: 5%;
  }
  
  .box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
  }
  .single{
    flex-basis: 22%;
    text-align:center;
    border-radius:6px;
    margin-bottom: 20px;
    color: black;
    position: relative;
  }
  
  .single img{
    width:30%;
    border-radius:6px;
  }

/*DICTIONARY PAGE*/

  .search-box{
    text-align: center;
    height: 20%;
    
  }
  input {
    margin: 0 10px;
    border: 0.3px solid #585858; 
    border-radius: 3px;
    width:25%;
  }

  ::placeholder {
    font-style: italic;
    color: rgb(206, 206, 206);
  }



  .details{
    width:40%;
    background-color: gainsboro;
  border-radius:10px ;
  border: solid 2px white;
  padding: 4%;
  }


/*FOOTER*/

footer{
    background-color: #63B891;
    padding: 1%;
    padding-left:2%;
    margin-top: 1%;
  }
