

.app-container {
    background-color: rgb(255, 255, 255);
    padding-left: 15%;;

}

.page-container {
    margin: 4em;
    &#home {
        text-align: left;
    }
}

footer{
    /* gap */
    padding:2%;
    /* background colour */
    background-color:#19AABD;
    /* white text to make it pop */
    color: white;
    /* borded section to make it standout */
    border-top: solid 2px #585858;
    border-bottom: solid 2px #585858;
  }