/*NAV BAR */
/* Same across all pages*/
nav{
    /*flex = respsonsive */
    display: flex;
    /* padding = look centered in the div*/
    padding: 2% 6%;
    /* jsutify-content = even gap when being responsive*/
    justify-content: space-between;
    align-items: center;
  }
  /* LOGO - which sits in the nav section */
  nav img{
    width: 300px;
    border-radius:6px;
  }
  /* links = each page */
   .nav-links{
    flex: 1;
    text-align: right;
  }
  /* links look e.g. changing from list to looking normal/professional*/
   .nav-links ul li{
    list-style: none;
    display: inline;
    padding: 8px 12px;
    position: relative;
  
  }
  /* The current page styling e.g. size = bigger*/
  .nav-links ul li a{
    color: black;
    font-size: 16px;
    text-decoration:none;
  }
  
  
  nav .highlight, nav .current a{
     font-weight:bold;
  }
  
  /* when the pages are hovered over the font weight increases*/
  
  a:hover {
   font-weight:bold;
  }
  
  /* Nav bar icons are not displayed unless the media quirey is used*/
  nav .fa{
    display: none;
  }