
/*NAV BAR */

  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 40%;
  }
 
   .nav-links{
    flex: 1;
    text-align: right;
  }
  
   .nav-links li{
    list-style: none;
    display: inline;
    padding: 8px 12px;
    position: relative;
  
  }
  
  .nav-links ul li a{
    color: black;
    font-size: 16px;
    text-decoration:none;
  }
  
  
  nav .highlight, nav .current a{
     font-weight:bold;
  }
  
  
  a:hover {
   font-weight:bold;
  }
  
  nav .fa{
    display: none;
  }
  