


  /*NAV BAR */

  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 300px;
    border-radius:6px;
  }
 
   .nav-links{
    flex: 1;
    text-align: right;
  }
  
   .nav-links ul li{
    list-style: none;
    display: inline;
    padding: 8px 12px;
    position: relative;
  
  }
  
  .nav-links ul li a{
    color: black;
    font-size: 16px;
    text-decoration:none;
  }
  
  
  nav .highlight, nav .current a{
     font-weight:bold;
  }
  
  /* when the pages are hovered over the font weight increases*/
  
  a:hover {
   font-weight:bold;
  }
  
  /* Nav bar icons are not displayed unless the media quirey is used*/
  nav .fa{
    display: none;
  }
  