#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
}

#taskform {
    grid-area: taskform;
    max-width: 300px;
    margin: 0 auto;
    label {
        display: block;
        width: 100%;
    }
    input{
        width:100px;
    }
}

#tasklist {
    grid-area: tasklist;
}

#draganddrop{
    background-color: #98D6F0;
    padding:10%;
}

.box-1{
    border: 1px solid black; 
    margin:2%;

}