
.timerheader{
    background-image: url(../images/beach.jpg);
    background-position: center;
    background-size: cover;
    padding-top:5%;
    padding-bottom:5%;
    padding-left:25%;
    padding-right:25%;
  }
  

.text-box-green{
    background-color: #63B891;
    border-radius:10px ;
    border: solid 2px white;
    padding: 4%;
  }

#time{
    font-size: 300%;
    padding-bottom: 2%;
}

#buttons{
    padding:2%;
    text-align: center;
}



#greendiv{
    padding:.4%;
    background-color: #63B891;
}


